body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.counter-button {
    height: 34px;
    width: 34px;
    background: #fff;
    border: 1px solid #000;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    line-height: 18px;
}
